#{extends 'main.html' /}
#{set title:'Vornamencheck' /}

<div id="search">
		<form action="@{Application.searchInit()}" method="GET" accept-charset="utf-8">
			<label for="search">Nach einem Vornamen suchen</label>
			<input type="text" name="search" value="${search}" id="searchbox" />
			&nbsp;
            <input type="submit" value="&{'search.button.search'}" id="searchButton" />
		</form>
	</div>	

#{if vornamen}
<table>
    <tr>
        <th>Vorname</th><th>Geschlecht</th>
    </tr>
    #{list items:vornamen, as:'vorname'}
    <tr>
        <td><a href="@{Application.show(vorname.lower)}">${vorname.pretty}</a></td>
        <td>${vorname.gender}</td>
        <td><a href="@{Application.deleteEntry(vorname.id, search)}">löschen</a></td>
    </tr>
    #{/list}
</table>
#{/if}
#{elseif toptenlist}
<h2>Die beliebtesten Vornamen (dieser Datenbank)</h2>
<ul>
    #{list items:toptenlist, as:'top'}
            <li><a href="@{Application.show(top.lower)}">${top.pretty}</a></li>
    #{/list}
</ul>
#{/elseif}
